{% extends "base.html" %}
{% block content %}

  <div class="row">
      <div class="col s12 m8 offset-m2">
          <div class="card-panel">
              <h3 class="center-align light-blue-text text-darken-4">
                  {{ username }}'s Profile
              </h3>
          </div>
      </div>
  </div>

{% endblock %}



<h2 class="text-center mt-4 custom-capitalize">{{ username }}'s Profile</h2>
    <div class="row">
        <div class="col-12 p-0 p-sm-4">
            <div class="card">
                <div class="card-body">
                    {% if session["user"] == username %}
                    <div class="row">
                        <div class="col-12">
                            <nav class="nav nav-pills nav-justified mt-2">
                                {% set active_tab = request.path %}
                                <div class="col-12 col-md-4"><a class="nav-item nav-link {% if active_page == url_for('profile', username=session['user']) %}active{% endif %}" href="{{ url_for('profile', username=session['user']) }}">Your Posts</a></div>
                                <div class="col-12 col-md-4"><a class="nav-item nav-link {% if active_page == url_for('delete_account', username=session['user']) %}active{% endif %}" href="{{ url_for('delete_account', username=session['user']) }}">Delete account</a></div>
                            </nav>
                        </div>
                    </div>
                    <hr>
                    {% endif %}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                {% block profile_content %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
