  {% extends "base.html" %}
  {% block content %}
  <section class="page-section" id="services">
      <div class="container px-4 px-lg-5">

        <div class="input-group">
          <form action="{{ url_for('search') }}" method="post" class="col s12">
              <input type="text" name="query" id="query class="validate" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" />
                <a href="{{ url_for('get_posts') }}" class="btn btn-outline-primary">Reset</a>
              <button type="submit" class="btn btn-outline-primary">search</button>
          </form>
        </div>

        
          <div class="text-center">
              <h2 class="section-heading text-uppercase">BY GHIBLI COMMUNITY</h2>
              <hr class="divider" />
          </div>
          <div class="row">
            {% for post in posts %}
              <div class="col-lg-4 col-md-6">
                  <div class="card bg-primary-color mb-4">
                      <div class="card-body">
                          <h4 class="card-title mb-3 text-center"><em>{{ post.theory_name }}</em></h4>
                          <p class="card-text mb-3"><i class="fas fa-utensils"></i><em>{{ post.theory_description }}</em></p>
                          <p class="card-text mb-3"><i class="fas fa-signature"></i><em>By: {{ post.posted_by }}</em></p>
                      </div>
                  </div>
              </div>
              <section class="page-section bg-light" id="portfolio">
              <div class="container">
                  <div class="text-center">
                      <h2 class="section-heading text-uppercase">BY GHIBLI THEORIES</h2>
                      <hr class="divider" />
                  </div>
                  <div class="row">
                      <div class="col-lg-4 col-sm-6 mb-4">
                          <!-- Portfolio item 1-->
                          <div class="portfolio-item">
                              <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                  <div class="portfolio-hover">
                                      <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                  </div>
                                  <img class="img-fluid" src="{{ url_for('static', filename='assets/img/films/fullsize/1.jpg') }}" alt="..." />
                              </a>
                              <div class="portfolio-caption">
                                  <div class="portfolio-caption-heading">SPIRITED AWAY</div>
                                  <div class="portfolio-caption-subheading text-muted">Yubaba's Brothel</div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-sm-6 mb-4">
                          <!-- Portfolio item 2-->
                          <div class="portfolio-item">
                              <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                  <div class="portfolio-hover">
                                      <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                  </div>
                                  <img class="img-fluid" src="{{ url_for('static', filename='assets/img/films/fullsize/2.jpg') }}" alt="..." />
                              </a>
                              <div class="portfolio-caption">
                                  <div class="portfolio-caption-heading">MY NEIGHBOR TOTORO</div>
                                  <div class="portfolio-caption-subheading text-muted">Totoro Is Inspired By The Sayama Incident</div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-sm-6 mb-4">
                          <!-- Portfolio item 3-->
                          <div class="portfolio-item">
                              <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                                  <div class="portfolio-hover">
                                      <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                  </div>
                                  <img class="img-fluid" src="{{ url_for('static', filename='assets/img/films/fullsize/3.jpg') }}" alt="..." />
                              </a>
                              <div class="portfolio-caption">
                                  <div class="portfolio-caption-heading">PRINCESS MONONOKE</div>
                                  <div class="portfolio-caption-subheading text-muted">San Wears Her Sister's Skin</div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-sm-6 mb-4">
                          <!-- Portfolio item 4-->
                          <div class="portfolio-item">
                              <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                                  <div class="portfolio-hover">
                                      <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                  </div>
                                  <img class="img-fluid" src="{{ url_for('static', filename='assets/img/films/fullsize/4.jpg') }}" alt="..." />
                              </a>
                              <div class="portfolio-caption">
                                  <div class="portfolio-caption-heading">MY NEIGHBOR TOTORO</div>
                                  <div class="portfolio-caption-subheading text-muted">Totoro Is The God Of Death</div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-sm-6 mb-4">
                          <!-- Portfolio item 5-->
                          <div class="portfolio-item">
                              <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                                  <div class="portfolio-hover">
                                      <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                  </div>
                                  <img class="img-fluid" src="{{ url_for('static', filename='assets/img/films/fullsize/5.jpg') }}" alt="..." />
                              </a>
                              <div class="portfolio-caption">
                                  <div class="portfolio-caption-heading">WHISPER OF THE HEART</div>
                                  <div class="portfolio-caption-subheading text-muted">Suicides</div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-sm-6 mb-4">
                          <!-- Portfolio item 6-->
                          <div class="portfolio-item">
                              <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                                  <div class="portfolio-hover">
                                      <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                  </div>
                                  <img class="img-fluid" src="{{ url_for('static', filename='assets/img/films/fullsize/6.jpg') }}" alt="..." />
                              </a>
                              <div class="portfolio-caption">
                                  <div class="portfolio-caption-heading">PONYO</div>
                                  <div class="portfolio-caption-subheading text-muted">Afterlife At The End Of Ponyo</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
                  {% endfor %}
              </div>
            </section>
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="close-modal" data-bs-dismiss="modal"><img src="{{ url_for('static', filename='assets/img/close-icon.svg') }}" /></div>
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <div class="modal-body">
                              <!-- Project details-->
                              <h2 class="text-uppercase">Yubaba's Brothel</h2>
                              <img class="img-fluid d-block mx-auto" src="{{ url_for('static', filename='assets/img/films/fullsize/1.jpg') }}" alt="..." />
                              <p>This is one of the most famous Studio Ghibli theories and it certainly has weight, with Miyazaki himself confirming that the bathhouse in Spirited Away was indeed inspired by the sex industry, saying that "Hasn’t Japanese society become like the sex industry?”
                              The brothel in the movie is heavily inspired by prostitution in the Edo period of Japan's history, with bathhouses acting as brothels during the time. The links to the sex industry can be seen by the fact that Chihiro has to give her name to Yubaba in exchange for a new one (an act that was common) and that No Face keeps offering tokens to Chihiro.
                              </p>
                              <ul class="list-inline">
                                  <li>
                                      <strong>Posted by:</strong>

                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-times me-1"></i>
                                  Close
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="close-modal" data-bs-dismiss="modal"><img src="{{ url_for('static', filename='assets/img/close-icon.svg') }}" /></div>
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <div class="modal-body">
                              <!-- Project details-->
                              <h2 class="text-uppercase">Totoro Is Inspired By The Sayama Incident</h2>
                              <img class="img-fluid d-block mx-auto" src="{{ url_for('static', filename='assets/img/films/fullsize/2.jpg') }}" alt="..." />
                              <p>
                                My Neighbour Totoro is, perhaps, the most iconic Studio Ghibli movie. The Totoro character has become synonymous with Ghibli, as the character can be seen throughout the Ghibli museum in Japan and easily has the most merchandise from the Ghibli movie catalog.
                                That being said, the film is also the subject of a dark fan theory. Fans speculate that My Neighbour Totoro was inspired by the murder and assault of a schoolgirl in the 60s that eventually led to the girl's sister committing suicide. The film is set in Sayama, the place of the crime, and also occurred in the month of May, with one of the girls in the film even being called Mei. That being said, Miyazaki has debunked this theory, but it is still an interesting theory.
                              </p>
                              <ul class="list-inline">
                                  <li>
                                      <strong>Posted by:</strong>

                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-times me-1"></i>
                                  Close
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="close-modal" data-bs-dismiss="modal"><img src="{{ url_for('static', filename='assets/img/close-icon.svg') }}" /></div>
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <div class="modal-body">
                              <!-- Project details-->
                              <h2 class="text-uppercase">San Wears Her Sister's Skin</h2>
                              <img class="img-fluid d-block mx-auto" src="{{ url_for('static', filename='assets/img/films/fullsize/3.jpg') }}" alt="..." />
                              <p>For many, Princess Mononoke is the best Ghibli movie. The film is an action-packed epic that tells a cautionary tale of humanity coming into conflict with nature, a moral that is even more necessary when we take into account the climate emergency the world finds itself in.
                              One notable theory about the film is that San wears the skin of her siblings. The theory goes that San's parents were hunting Moro's children, killing one before being killed themselves. Moro then took pity on the young San, raising her and giving San the coat of her dead child.
                              </p>
                              <ul class="list-inline">
                                  <li>
                                      <strong>Posted by:</strong>

                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-times me-1"></i>
                                  Close
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="close-modal" data-bs-dismiss="modal"><img src="{{ url_for('static', filename='assets/img/close-icon.svg') }}" /></div>
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <div class="modal-body">
                              <!-- Project details-->
                              <h2 class="text-uppercase">Totoro Is The God Of Death</h2>
                              <img class="img-fluid d-block mx-auto" src="{{ url_for('static', filename='assets/img/films/fullsize/4.jpg') }}" alt="..." />
                              <p>This entry is tied to the earlier entry of the Sayama incident. Essentially, according to the theory, the film is like a twisted version of Alice in Wonderland, however, instead of entering some magical world, Mei and Satsuki are both dead and Totoro is shepherding them through the underworld.
                              Fans of this theory point to the fact that the Catbus passes a stop named 'Grave Road' as an example of the themes of death in the film.
                              </p>
                              <ul class="list-inline">
                                  <li>
                                      <strong>Posted by:</strong>

                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-times me-1"></i>
                                  Close
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="close-modal" data-bs-dismiss="modal"><img src="{{ url_for('static', filename='assets/img/close-icon.svg') }}" /></div>
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <div class="modal-body">
                              <!-- Project details-->
                              <h2 class="text-uppercase">YWhisper Of The Heart Inspired Suicides</h2>
                              <img class="img-fluid d-block mx-auto" src="{{ url_for('static', filename='assets/img/films/fullsize/5.jpg') }}" alt="..." />
                              <p>Whisper of the Heart may not be one of the most famous Ghibli films, but it still a fantastic movie in its own right and even spawned a kind of sequel with the Cat Returns. However, there is an urban legend that this charming film allegedly inspired several suicides after it was rebroadcast on TV.

                              Allegedly, those who remembered seeing the film as a child and then saw it as an adult began to believe that they had wasted their lives. While no suicides were confirmed to be caused by this re-airing, there were several forums that discussed depression and suicidal thoughts after watching the return.
                              </p>
                              <ul class="list-inline">
                                  <li>
                                      <strong>Posted by:</strong>

                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-times me-1"></i>
                                  Close
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="close-modal" data-bs-dismiss="modal"><img src="{{ url_for('static', filename='assets/img/close-icon.svg') }}" /></div>
              <div class="container">
                  <div class="row justify-content-center">
                      <div class="col-lg-8">
                          <div class="modal-body">
                              <!-- Project details-->
                              <h2 class="text-uppercase">Afterlife At The End Of Ponyo</h2>
                              <img class="img-fluid d-block mx-auto" src="{{ url_for('static', filename='assets/img/films/fullsize/6.jpg') }}" alt="..." />
                              <p>Ponyo is another Ghibli movie that appears to be another lighthearted, fairytale movie that children around the world could fall in the love with. The film tells the story of Ponyo (or Brunhilde) who ends up being washed ashore and grows close to a boy named Sōsuke in the process.
                              That being said, much of the film is built around an impending doom and after this doom hits the town it seems as if no one is hurt. However, fans speculate that the end of the film actually shows the characters entering the afterlife, with old people now able to walk as if they were young again and both Ponyo and Sōsuke going through a tunnel, symbolizing their journey into the afterlife. That being said, there are notable issues with this fan theory as it doesn't entirely mesh with the plot of the film.

                              </p>
                              <ul class="list-inline">
                                  <li>
                                      <strong>Posted by:</strong>

                                  </li>
                              </ul>
                              <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                  <i class="fas fa-times me-1"></i>
                                  Close
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
