{% extends "base.html" %}
{% block content %}
<div style="background-image: url('/static/assets/img/hero3.jpg');">
  <div class="login-page">
      <div class="form">
        <h3 class="center-align">EDIT POST</h3>
  <form class=""register-form"" method="POST" action="{{ url_for('edit_post', post_id=post._id) }}">

            <input id="theory_name" name="theory_name" type="text" class="validate" required
            value="{{ post.theory_name }}">
            <label for="theory_name" placeholder="Theory Name">Theory Name</label>

            <input id="theory_description" name="theory_description" type="text" rows="20" class="validate" required
            value="{{ post.theory_description }}">
            <label for="theory_description" placeholder="Theory Description">Theory Description</label>

            <input id="author" name="author" type="text" class="validate" required>
            <label for="author" placeholder="Posted By...">Posted by:</label>

      <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
              EDIT <i class="fas fa-sign-in-alt"></i>
     </button>
  </form>
    </div>
  </div>
</div>


{% endblock %}
