{% extends "base.html" %}
{% block content %}
<div style="background-image: url('/static/assets/img/hero3.jpg'); background-position: center; background-size:cover;">
  <div class="login-page">
      <div class="form">
        <h3 class="center-align">EDIT POST</h3>
  <form class=""register-form"" method="POST" action="{{ url_for('edit_post', post_id=post._id) }}">

            <input id="theory_name" name="theory_name" type="text" placeholder="Theory Name class="validate" required
            value="{{ post.theory_name }}">
            <label for="theory_name"></label>

            <input id="theory_description" name="theory_description" placeholder="Theory Description" type="text" rows="20" class="validate" required
            value="{{ post.theory_description }}">
            <label for="theory_description" ></label>

  <div class="row">
    <div class="col">
      <button type="submit"><a href="{{ url_for('profile', username=session['user']) }}" style="text-decoration: none !important;">CANCEL</a>
      </button>
    </div>
    <div class="col">
      <button type="submit">EDIT</button>
    </div>
  </div>
</form>
  </div>
</div>
</div>


{% endblock %}
