{% extends "base.html" %}
{% block content %}

<h2 class="text-center mt-4 custom-capitalize">{{ username }}'s Profile</h2>
    <div class="row">
        <div class="col-12 p-0 p-sm-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <nav class="nav nav-pills nav-justified mt-2">
                                {% set active_tab = request.path %}
                                <div class="col-12 col-md-4"><a class="nav-item nav-link {% if active_page == url_for('profile', username=session['user']) %}active{% endif %}" href="{{ url_for('profile', username=session['user']) }}">Your Posts</a></div>
                            </nav>
                        </div>
                    </div>
                    <hr>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                {% block profile_content %}

                                {% for post in posts %}
                                  <p> {{ post.theory_name }}</p>
                                  <p> {{ post.theory_description }}</p>
                                  <p> {{ post.posted_by }}</p>
                                {% endfor %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
