{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Register</h3>

    <div class="login-page">
        <div class="form">
    <form class=""register-form"" method="POST" action="{{ url_for('register') }}">
                <!-- username -->
					<div class="input-field col s12">
						<input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="username">Username</label>
					</div>

                <!-- passowrd -->

          <div class="input-field col s12">
              <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
              <label for="password">Password</label>
         </div>

        <!-- register -->
        <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                Register <i class="fas fa-sign-in-alt"></i>
       </button>
  </form>
      </div>
    </div>


{% endblock %}
