{% extends "base.html" %}
{% block content %}
<div style="background-image: url('/static/assets/img/hero3.jpg'); background-position: center; background-size:cover;" style="height:70vh;">
    <div class="login-page">
        <div class="form">
          <img class="img-fluid" src="{{ url_for('static', filename='assets/img/register-image.png') }}" style="width:200px;" alt="..." />
          <h3 class="center-align title">REGISTER</h3>
    <form class=""register-form"" method="POST" action="{{ url_for('register') }}">
                <!-- username -->
						<input id="username" name="username" placeholder="Username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
						<label for="username" ></label>

                <!-- passowrd -->
              <input id="password" name="password" placeholder="Password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
              <label for="password" ></label>


        <!-- register -->
        <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                Register <i class="fas fa-sign-in-alt"></i>
       </button>
       {% if session.user %}
          <a class="message" href="{{ url_for('profile', username=session['user']) }}">Log In</a>
        {% else %}
        <p class="message">Already registered? <a href="{{ url_for('login') }}">Log In</a></p>
        {% endif %}
  </form>
      </div>
    </div>


{% endblock %}
</div>
